[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Dd]oc/

.vs/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.unitypackage

fmod.log
fmod_editor.log
/Assets/FMODStudioCache.asset
/Assets/FMODStudioCache.asset.meta